@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    display: flex;
    padding: 12px;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 0;
    margin: 0;
    background-color: #FFF;
    font-family: 'DM Sans', sans-serif;
}

header img, .footer img {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 100px;
}

.title-cwel {
    white-space: nowrap;
    color: #84282F;
    margin-right: 0.5rem;   
}

.title-cwel, .title-optometry {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.cwel {
    display: flex;
    align-items: center;
}

nav {
    font-size: 1rem;
}
nav a {
    padding: 1rem;
}

nav a, .tiny-box-left a, .tiny-box-right a, .details a, .details2 a,.home-left-list-left a, .home-left-list-right a, .home-left-list-middle a {
    color: #000;
    text-decoration: none;
}

nav a:visited, .tiny-box-left a:visited, .tiny-box-right a:visited, .details a:visited, .details2 a:visited, .home-left-list-left a:visited, .home-left-list-right a:visited, .home-left-list-middle a:visited {
    color: #000;
}

nav a:hover, .tiny-box-left a:hover, .tiny-box-right a:hover, .details a:hover,  .details2s a:hover, .home-left-list-left a:hover, .home-left-list-right a:hover, .home-left-list-middle a:hover {
    color: #777;
}

ul.top-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

button.phones {
    background-color: #84282F;
    border: none;
    border-radius: 0.5em;
    padding: 1rem;
    color: #FFF;
}
button.view-services {
    background-color: #FAF8F6;
    border: none;
    border-radius: 0.5em;
    padding: 1rem;
    color: #84282F;
}
body {
    padding: 0;
    margin: 0;
    background-color: #FAF8F6;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

/* The big main container */
.home-main {
padding: 10%;
display: flex;
font-family: 'Inter', sans-serif;
}

.home-left-title p {
font-size: 64px;
font-family: 'Merriweather', serif;
line-height: 0%;
color: #84282F;
}

.home-left-formerly {
    font-size: 1rem;
}

.home-left-trusted {
    font-size: 1.2rem;
    font-weight: 600;
}
.home-left-list {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.services-container {
    display: flex;
    width: 220px;
    flex-direction: column;
    border: 2px solid #e8e8e8;
    border-radius: 0.7rem;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.services-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-right img {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 380px;
}

li.glasses, li.cl, li.cl2, li.eyeball, li.oct, li.myopia {
    margin-right: 1rem;
    margin-bottom: 0.2rem;
    padding: 0.2rem;
}

li.glasses {
    list-style-image: url('images/glasses_small.png');
}

li.cl {
    list-style-image: url('images/cl_small.png');
}


li.cl2 {
    list-style-image: url('images/cl2_small.png');
}


li.eyeball {
    list-style-image: url('images/eye_small.png');
}

li.myopia {
    list-style-image: url('images/myopia_small.png');
}

li.oct {
    list-style-image: url('images/oct_small.png');
}

li.tick {
    list-style-image: url('images/tick.png');
}

h2 {
    color:#84282F;
}

.home-buttons{
    padding: 1rem;
    margin-left: -1rem;
}

.home-about, .home-team {
    background-color: #84282F;
    color: #FFF;
    padding: 3rem;
    border-radius: 0.8rem;
    font-family: 'DM Sans', sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 3rem;
}

.home-services {
    width: 100%;
}

.home-team {
    display: flex;
}

.home-team img {
    margin-bottom: -3.3rem;
}

.home-frames > .home-left-list > * {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
}

.home-frames > .home-left-list > * > img {
    max-width: 200px;
    height: auto;
}

.tiny-box-left, .tiny-box-right {
    display: flex;
    align-items: center;
    padding: 0.5rem
}

.details {
    display: flex;
    flex-direction: column;
}

.details p {
    padding: 0px;
    margin: 0.3rem;
}

.details2 {
    display: flex;
    flex-direction: column;
}

.details2 p {
    padding: 0px;
    margin: 0.3rem;
}


.home-book {
    display: flex;
    justify-content: space-between;
}

.home-book img {
    max-height: 90px;
    width: auto;
}

.img-container {
    max-width: 120px;
    width: auto;
    display: flex;
    justify-content: center;
}

.home-left-list-left, .home-left-list-right, .home-left-list-middle {
    padding: 1rem;
}

.home-book {
    padding: 10%;
    font-family: 'DM Sans', sans-serif;
}

.home-book > .home-right-list {
    display: flex;
    flex-direction: row;
}

.times-table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    padding: 10%;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer > .home-left-list, .footer > .home-right-list {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
}

.footer > .home-left-list > .details {
    padding: 1rem;
}

.times-table div:nth-child(1) {
    text-align: left;
}
.times-table div:nth-child(2) {
    text-align: right;
}

.home-left-list > .details2 > a > img {
    max-width: 180px;
    max-height: 180px;
    border-radius: 8%;
    margin: 1rem;
}

.home-left-list > .details2  {
    text-align: center;
}
.home-main > .details2 {
    width: 100%;
}

.footer > .home-left-list > .cwel {
    padding-top: 2rem;
  }

  .kevin {
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-align: center;
  }

/* Hamburger */

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #FFF;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 1rem;
    text-decoration: none;
    font-size: 1rem;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: white;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2rem;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover:not(.cwel-logo) {
    background-color: #ddd;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #FFF;
    color: white;
  }

  .topnav > .icon {
    visibility: hidden;
}

/* Mobile font change */

@media (max-width: 1000px) {
    .container, .home-main, .home-left-list, .home-buttons, .home-book, .home-book > .home-right-list, .footer {
      display: flex;
      flex-direction: column;
    }

    button.phones, button.view-services {
        width: 100%;
    }
 
    .container, .home-main {
        gap: 12px;
    }
    .home-main > .home-right {
        display: none;
    }

    .home-team {
        display: flex;
        flex-direction: column-reverse;
    }

    .home-team > .home-right {
        display: flex;
        justify-content: center;
    }

    .home-team img {
        margin-bottom: 1rem;
        width: 100%;
    }

    .img-container {
        max-width: 100%;
        padding: 1rem;
    }

    li:has(button) {
        display:none;
    }

    .title-cwel, .title-optometry {
      font-size: 3vw;
   }

   .times-table {
    justify-content: space-between;
   }
   
   nav, .home-left {
    font-size: 0.8rem;
    }

    .icon {
        display: block;
    }
    nav {
        display: none;
    }

    .topnav > .icon {
        visibility: visible;
    }

    .topnav {
        width: 100%;
    }
    .home-about {
        padding: 1.7rem;
    }

    h1 {
        display: flex;
        font-size: 2rem;
    }

    .home-frames > .home-left-list > * {
        gap: 0rem;
     }
    
    .home-frames > .home-left-list > *  {

        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .home-frames > .home-left-list > * > img  {
        max-width: 35%;
        margin: 1rem;
    }
    .home-book > .home-right-list > *, .home-left-list-left, .home-left-list-middle, .home-left-list-right {
        padding: 0px;
    } 
  
    .services-container {
        width: 90%
    }

    .tiny-box-left > .details p, .tiny-box-right > .details p {
        text-align: right;
    }
    
    .tiny-box-left, .tiny-box-right {
        justify-content: space-between;
    }

    .cwel {
        justify-content: center;
    }

    .home-left-list > .details p {
        text-align: center;
    }

    .home-buttons{
        padding: 1rem;
        margin-left: 0rem;
    }
    

  }
  
  
@media (max-width: 600px) {
    .title-cwel, .title-optometry {
        font-size: 0vw;
     }
}